# Built outputs
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release.keystore

# Kotlin
*.class
*.jar
*.war
*.ear
*.nar

# IDE
*.swp
*~
